[submodule "robust"]
path = robust
url = https://github.com/dim0627/hugo_theme_robust.git

[submodule "bleak"]
path = bleak
url = https://github.com/Zenithar/hugo-theme-bleak.git

[submodule "rocktopus"]
path = rocktopus
url = https://github.com/esell/rocktopus.git
[submodule "themes/hugoThemes"]
	path = themes/hugoThemes
	url = https://github.com/spf13/hugoThemes
